<widget	xmlns				= "http://www.w3.org/ns/widgets"
				xmlns:gap		= "http://phonegap.com/ns/1.0"
				xmlns:android	= "http://schemas.android.com/apk/res/android"
				id					= "com.twodio.word"
				version			= "1.0.0">
	<name>Word Game</name>
	<description>
		This is a word game
	</description>
	<author email="support@2dio.com" href="http://2dio.com">
		2Dio, Inc.
	</author>
	<content src="index.html" />
	<access origin="*" />

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<preference name="phonegap-version" value="cli-9.0.0" />

	<!-- Android SDK Version -->
	<preference name="android-minSdkVersion" value="16" />
	<preference name="android-cdvCompileSdkVersion" value="28" />
	<!-- iOS Version -->
	<preference name="deployment-target" value="6.1" />

	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</gap:config-file>

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true"/>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<gap:plugin name="phonegap-admob" source="npm" />
	<gap:plugin name="cordova-plugin-google-analytics" source="npm" />
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />

	<feature name="http://api.phonegap.com/1.0/network" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>

	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<gap:config-file platform="android" parent="/manifest/application">
			<activity android:windowSoftInputMode="adjustPan" />
	</gap:config-file>

	<!-- Default Icon/Splash -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->


</widget>