<widget	xmlns				= "http://www.w3.org/ns/widgets"
				xmlns:gap		= "http://phonegap.com/ns/1.0"
				xmlns:android	= "http://schemas.android.com/apk/res/android"
				id					= ""
				version			= "1.0.0">
	<name></name>
	<description>
	</description>
	<author email="support@2dio.com" href="http://2dio.com">
		2Dio, Inc.
	</author>
	<content src="index.html" />
	<access origin="*" />

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<preference name="phonegap-version" value="cli-9.0.0" />

	<!-- Android SDK Version -->
	<preference name="android-minSdkVersion" value="16" />
	<!-- iOS Version -->
	<preference name="deployment-target" value="6.1" />

	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</gap:config-file>

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true"/>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<gap:plugin name="phonegap-admob" source="npm" />
	<gap:plugin name="cordova-plugin-google-analytics" source="npm" />
	<gap:plugin name="org.apache.cordova.statusbar" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" />

	<feature name="http://api.phonegap.com/1.0/network" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>

	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<gap:config-file platform="android" parent="/manifest/application">
			<activity android:windowSoftInputMode="adjustPan" />
	</gap:config-file>

	<!-- Default Icon/Splash -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->


	<!-- iOS 7.0+ Icons -->
	<!-- iPhone 6 / 6+ -->
	<icon src="img/icons/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
	<!-- iPhone / iPod Touch  -->
	<icon src="img/icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="img/icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
	<!-- iPad -->
	<icon src="img/icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="img/icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	<!-- Settings Icon -->
	<icon src="img/icons/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
	<icon src="img/icons/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
	<!-- Spotlight Icon -->
	<icon src="img/icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="img/icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

	<!-- iOS 6.1 Icons -->
	<!-- iPhone / iPod Touch -->
	<icon src="img/icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="img/icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
	<!-- iPad -->
	<icon src="img/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="img/icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	<!-- iPad Spotlight and Settings Icon -->
	<icon src="img/icons/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
	<icon src="img/icons/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />

	<!-- iOS Splash -->
	<!-- iPhone and iPod touch -->
	<gap:splash src="img/splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="img/splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="img/splash/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
	<!-- iPhone 6 -->
	<gap:splash src="img/splash/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="img/splash/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
	<gap:splash src="img/splash/ios/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />
	<!-- iPad -->
	<gap:splash src="img/splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="img/splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
	<!-- Retina iPad -->
	<gap:splash src="img/splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="img/splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />


	<!-- Android Icons -->
	<icon src="img/icons/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="img/icons/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="img/icons/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="img/icons/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="img/icons/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="img/icons/android/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />

	<!-- Android Splash -->
	<gap:splash src="img/splash/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="img/splash/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="img/splash/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="img/splash/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="img/splash/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<gap:splash src="img/splash/android/landscape-ldpi.png" gap:platform="android" gap:qualifier="land-ldpi" />
	<gap:splash src="img/splash/android/landscape-mdpi.png" gap:platform="android" gap:qualifier="land-mdpi" />
	<gap:splash src="img/splash/android/landscape-hdpi.png" gap:platform="android" gap:qualifier="land-hdpi" />
	<gap:splash src="img/splash/android/landscape-xhdpi.png" gap:platform="android" gap:qualifier="land-xhdpi" />
	<gap:splash src="img/splash/android/landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />


	<!-- Windows Icons -->
	<icon src="img/icons/winphone/icon.png" gap:platform="winphone" />
	<icon src="img/icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />

	<!-- Windows Splash -->
	<gap:splash src="img/splash/winphone/splash.jpg" gap:platform="winphone" />
</widget>